@import "boilerplate.css";

/*
  - CSS opacity - https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
  - SVG & CSS - https://www.w3.org/TR/SVG/styling.html
  - Counters - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
  - `fit-content` - https://developer.mozilla.org/en-US/docs/Web/CSS/fit-content
  - `ch` unit - https://www.freecodecamp.org/news/css-unit-guide/
  - Line of text readability - https://www.freecodecamp.org/news/css-unit-guide/
  - Media queries - https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Media_queries
  - Limitations of media queries and CSS variables - https://stackoverflow.com/a/40723269/2085356
*/

html {
  --defaultPadding: 8pt;
  --defaultBorderRadius: 5px;
}

h1 {
  margin: 0;
  text-align: center;
  background: var(--primary-fg-color);
  color: var(--secondary-bg-color);
}

.bodyContainer {
  --alpha: 0.3;

  background-color: rgba(9, 60, 93, var(--alpha));
  padding: 0;
  margin: 0;
}

.flexCardsContainer {
  --alpha: 0.3;

  /* Flexbox - for children (cards). */
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: column;

  counter-reset: cardCounter;

  padding: var(--defaultPadding);
  color: yellow;
}

/* If the screen is < 70ch wide. */
@media screen and (max-width: 70ch) {
  .flexCardsContainer {
    flex-direction: column; /* Vertical layout of cards. */
  }
}

/* If the screen is > 70ch wide. */
@media screen and (min-width: 70ch) {
  .flexCardsContainer {
    flex-direction: row; /* Horizontal layout of cards. */
  }
}

.card {
  /* Flexbox - for children (card contents). */
  display: flex;
  flex-direction: column;

  width: fit-content;
  margin: var(--defaultPadding);
  padding: var(--defaultPadding);
  background: rgba(0, 0, 0, var(--alpha));
  border-radius: var(--defaultBorderRadius);

  /* Flexbox - for self. */
  align-items: center;
  justify-content: flex-start;
}

.fancyBackground {
  background: /* Z-layer: "0", Background image. */ url("../images/oceanwave2.svg") 10px 10px/ 50px 50px
      repeat,
    /* Z-layer: "1", Gradient. */
      linear-gradient(
        to top,
        rgba(80, 82, 133, var(--alpha)) 0%,
        rgba(88, 94, 146, var(--alpha)) 12%,
        rgba(101, 104, 159, var(--alpha)) 25%,
        rgba(116, 116, 176, var(--alpha)) 37%,
        rgba(126, 126, 187, var(--alpha)) 50%,
        rgba(131, 137, 199, var(--alpha)) 62%,
        rgba(151, 149, 212, var(--alpha)) 75%,
        rgba(162, 161, 220, var(--alpha)) 87%,
        rgba(181, 174, 228, var(--alpha)) 100%
      ),
    linear-gradient(
      to top,
      rgba(80, 82, 133, var(--alpha)) 0%,
      rgba(131, 137, 199, var(--alpha)) 62%,
      rgba(181, 174, 228, var(--alpha)) 100%
    );
}

.heroImage {
  height: 100pt;
}

/* How to add emoji: https://dev.to/beumsk/how-to-add-emoji-s-in-your-website-using-html-css-or-javascript-4g6g */
h3::before {
  counter-increment: cardCounter;
  content: "\01F525 \01F5C3 \01F4C7 Card #"counter(cardCounter) " - ";
}
