@import url(https://unpkg.com/normalize.css/normalize.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css);

/*
- Define "variables" aka custom properties.
- https://css-tricks.com/breaking-css-custom-properties-out-of-root-might-be-a-good-idea/ 
*/
:root {
  --primary-fg-color: rgb(201, 209, 216);
  --primary-bg-color: rgb(22, 27, 34);
  --secondary-bg-color: rgb(1, 4, 9);
  --default-whitespace: 0.5rem;
  --default-font: "SF Mono";
  --default-font-weight: 500;
  --default-line-height: 1.2;
}

body {
  background: var(--primary-bg-color);
  color: var(--primary-fg-color);
  font-family: var(--default-font);
  font-weight: var(--default-font-weight);
  padding-left: var(--default-whitespace);
  padding-right: var(--default-whitespace);
  /* 
  - line-height must not be declared in html or :root. 
  - https://css-tricks.com/html-vs-body-in-css/
  */
  line-height: var(--default-line-height);
}

h1,
p {
  margin-top: var(--default-whitespace);
  margin-bottom: var(--default-whitespace);
}

.star-icon::before {
  --icon: "\f14a";
  font-family: "Font Awesome 5 Free";
  content: var(--icon);
}

.checkbox-icon::before {
  --icon: "\f005";
  font-family: "Font Awesome 5 Free";
  content: var(--icon);
}

.underline {
  border-bottom-style: dotted;
  border-bottom-width: 0.2rem;
  margin: 0;
  padding: 0;
}

.highlight {
  background: yellow;
  color: black;
}

.justify {
  text-align: justify;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1rem;
  text-align: center;
}

.caps {
  text-transform: upper-case;
}

.indent {
  text-indent: 2rem;
}

.drop-cap::first-letter {
  text-transform: upper-case;
  font-size: 2rem;
  float: above;
  line-height: 2rem;
}

/* Use local variable, instead of decalaring in :root. */
a {
  --my-link-color: lightgray;
  color: var(--my-link-color);
}

yy a:link {
  --my-link-color: teal;
}

a:hover {
  --my-link-color: aquamarine;
}
